/* Global Varouables */
:root {
    --header-font: "Rubik", serif;
    --body-font: "Assistant", sans-serif;
    --obsidian-colour: rgb(13, 13, 13);
    --midnight-colour: rgb(55, 55, 55);
    --mint-colour: rgb(145, 152, 138);
    --seafoam-colour: rgb(215, 216, 198);
    --agate-colour: rgb(237, 231, 219);
    --accent-colour: rgb(238, 181, 66);
    --page-h1-size: 4em;
    --page-h2-size: 24px;
    --page-h3-size: 20px;
    --page-p-size: 1.7em;
}


/* Full html style */
* {
    box-sizing: border-box;
    color: var(--agate-colour);
    font-family: var(--body-font);
    cursor: none;
}
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--agate-colour);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transition: transform 0.2s ease;
}
.custom-cursor.hovered {
    transform: translate(-50%, -50%) scale(2);
}


/* Body Style */
body {
    background: var(--midnight-colour);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}



/* Navigation Bar Style */
.pc-nav-menu {
    height: 70px;
    width: 100%;
    padding: 20px 4vw;
    font-family: var(--header-font);
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid var(--seafoam-colour);
}
.pc-nav-menu a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.name-nav-content {
    float: left;
}
.menu-nav-content {
    float: right;
}
.navbar-item {
    padding: 0 10px 0 10px;
}
.navbar-item:hover, .navbar-name:hover{
    color: var(--accent-colour);
}
/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--seafoam-colour);
    z-index: 10;
}
.dropdown-item {
    padding: 10px 20px;
    white-space: nowrap;
    display: block;
    color: black;
    text-decoration: none;
}
.dropdown-item:hover {
    background-color: var(--accent-colour);
    color: white;
}
/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    display: block;
}



/* landing page style */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.landing-title {
    font-family: var(--header-font);
    font-size: 128px;
    font-weight: 600;
    margin-bottom: 10vh;
}
.quick-info-container {
    display: flex;
    gap: 5vw;
    border-top: 2px solid var(--seafoam-colour);
}
.info-title {
    color: var(--accent-colour);
}



/* Work Experience section style */
.work-experience {
    padding: 0 13vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}
.experience-section-title {
    font-size: var(--page-h2-size);
    color: var(--accent-colour);
}
.experience-content {
    display: flex;
    gap: 5vw;
}
.experience-container {
    /* flex: 2 1; */
    width: 100%;
}
.work-point {
    display: flex;
}
.listed-points {
    margin-top: 5vh;
}
.experience-date {
    width: 80px;
}
.experience-date p {
    font-size: 14px;
    color: var(--mint-colour);
    margin-right: 40px;
    margin-top: 5px;
}
.work-title {
    font-size: var(--page-h2-size);
    color: var(--agate-colour);
    margin: 0px;
}
.company-loc {
    margin: 2px;
    font-size: var(--page-h3-size);
}
.experience-piece p {
    width: 80%;
}
.tools-skills {
    width: 30%;
}
.ts-title {
    font-size: var(--page-h2-size);
    color: var(--accent-colour);
    margin: 0;
}
.skills-container {
    margin-top: 70px;
}
.skill-point {
    margin-bottom: 5px;
    font-size: 20px;
}
.skill-par {
    margin: 5px 0 0 0;
}




/* Footer Style */
.portfolio-footer {
    padding: 4vw;
    margin-top: 4vh;
    text-align: center;
    border-top: 2px solid var(--seafoam-colour);
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-section {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 200px;
}
.footer-section h3 {
    font-size: var(--page-h3-size);
}
.footer-section p,
.footer-section a {
    font-size: 14px;
    color: var(--seafoam-colour);
    text-decoration: none;
}
.footer-section a:hover {
    color: var(--accent-colour);
}
.social-links {
    list-style: none;
    padding: 0;
}
.social-links li {
    margin: 5px 0;
}
.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
}