    /****** Varialbes and Imports ******/
:root {
    --page-main-colour: #F1EFEF;
    --main-colour-accent: #CCC8AA;
    --supprting-colour-accent: #7D7C7C;
    --main-font: "Playfair Display", serif;
    --supporting-font: "DM Sans", sans-serif;
}


    /****** General Webpage Style ******/
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--supporting-font);
    color: #153448;
    height: 100%;
    width: 100%;
}

/* .horizontal-scroll-content {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}

.section {
    width: 100vw;
    height: 100vh;
} */




    /* TEMP BACKGROUND */
.temp-bg {
    position: fixed;
    background-color: #e5e5f7;
    z-index: -1;
    height: 300vh;
    width: 100vw;
    opacity: 0.8;
    background-size: 150px 20px;
    background-image:  repeating-linear-gradient(to right, #cbcbcb, #cbcbcb 1px, #F1EFEF 1px, #F1EFEF);
}



.subheading {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 0 400px;
}

.section-hor-line {
    width: 100px;
    height: 1px;
    background-color: var(--supprting-colour-accent);
    margin: 20px 0;
}

.section-headline {
    color: var(--supprting-colour-accent);
}


    /***** Navigation Style *****/
.navigation-bar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    gap: 600px;
    position: fixed;
    z-index: 5;
    transition: top 0.3s;
    top: 0;
}




    /***** Landing Page Style *****/
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-color: var(--page-main-colour); */
}

.landing-content {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin: 0 0 0 400px;
}

.landing-name {
    font-size: 4rem;
    font-family: var(--main-font);
    margin: 0;
}

.title {
    margin: 0;
    color: var(--main-colour-accent);
}

.small-about-me {
    letter-spacing: 1px;
}


    /***** About Page Style *****/
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-color: var(--page-main-colour); */
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: 0 0 0 400px;
}

.about-title {
    font-size: 4rem;
    font-family: var(--main-font);
    margin: 0;
}

.about-intro {
    margin: 0;
    color: var(--main-colour-accent);
}

.my-story {
    letter-spacing: 1px;
}


    /***** Work Page Style *****/
.my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-color: var(--page-main-colour); */
}

.work-content {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 0 0 400px;
}

.work-section-text {
    width: 750px;
}

.work-title {
    font-size: 4rem;
    font-family: var(--main-font);
    margin: 0;
}

.work-tagline {
    margin: 0;
    color: var(--main-colour-accent);
}

.work-text-body {
    letter-spacing: 1px;
}

.work-section-cards {
    display: flex;
    gap: 30px;
}

.card {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.card-bg {
    display: block;
    width: 100%;
    height: 100%;
    /* position: relative; */
    text-decoration: none;
}

.card-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
    z-index: 1;
}

.card-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;}

    .card:hover .card-img {
        transform: scale(1.05);
        filter: brightness(70%);
    }
    
    .card:hover .card-content {
        opacity: 1;
    }
    
    .card-title {
        font-size: 2rem;
        font-family: var(--main-font);
        margin-bottom: 10px;
        color: var(--main-colour-accent);
    }
    
    .card-paragraph {
        font-size: 16px;
        line-height: 1.5;
    }